<% include header%>
<% include navbar%>

<h2><%= title%></h2>


<div class="container gridContainer textCenter">
	<div class="row">
		<div class="col-sm-12 display-4"><b>MxM credits</b></div>
	</div>
	<div class="row">
    <div class="col-sm-6 bigTitle gray lead">
    	<table class="menu-icon">
        <tr>
          <td>
            <span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
              <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
              <i class="fa fa-fighter-jet fa-stack-1x fa-rotate-270" style="color:#BFDCF5"></i>
            </span>
          </td>
          <td > &nbsp;&nbsp;Fabrice&nbsp;Kauffmann</td>
        </tr>
      </table>
    </div>
		<div class="col-sm-6 bigTitle gray lead">
			<table class="menu-icon">
				<tr>
					<td>
						<span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
							<i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
							<i class="fa fa-paw fa-stack-1x " style="color:#BFDCF5"></i>
						</span>
					</td>
					<td > &nbsp;&nbsp;Florence&nbsp;Melan</td>
				</tr>
			</table>
		 </div>
		</div>

  <div class="row">
    <div class="col-sm-6 mediumTitle">
      Back-end coding
    </div>
    <div class="col-sm-6 mediumTitle">
      DB design and UX programming
    </div>
  </div>

</div>

<% include bodyEndAndScripts%>
