<% include header%>
<% include navbar%>

<h2><%= title%></h2>

<form method='POST' action='/categories/delete/confirm'>

<input type='hidden' name='categoryid' value='<%= category ? categoryid : "" %>'>
<div class="container-fluid icon-container" >
  <div class="row">
    <div class="col-sm-12 bigTitle blue" >
        Are you sure?
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 noBgColor">
      <input type='submit' value='Delete' class="btn btn-success" />
    </div>
    <div class="col-sm-6 noBgColor">
      <a href="/categories" class="btn btn-warning" >Cancel</a>
    </div>
  </div>
</div>

</form>

<% include bodyEndAndScripts%>
