<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MxM</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<!-- Font-awsome icons-->
	<link rel="stylesheet" href="./icons/css/font-awesome.min.css">  <!-- http://fontawesome.io/icons/ -->

	<style>
		body {
			margin-top: 72px;
		}
    .onclickStyle{
      cursor: pointer;
    }
	</style>

	<div class="container-fluid">

	<!-- Styles (so that we can see the grid) -->
	<style>
  .icon-container .col-sm-3,
  .icon-container .col-sm-6,
  .icon-container .col-sm-12
   {
    border: 2px solid white;
    background: #f5f5f5;
    text-align: center;
    padding: 10px;
    }

    .icon-container table {
      margin: 0px auto;
      height: 64px;
    }

		.icon-container table td:nth-child(1) {
			width: 60px;
    }

		.icon-container table td:nth-child(2) {
			width: 120px;
			text-align: left;
    }

    .onclickStyle,
    .category-name a {
      line-height: 64px;
      font-weight: bold;
      color: #0275D8;
      font-size: 20px;
    }
	</style>

  </head>
  <body>
