<% include header%>

<% include navbar%>

<div class="container gridContainer textCenter">
		<div class="row">
			<div class="col-sm-12 display-4"><b>MxM</b></div>
		</div>
		<div class="row">
			<div class="col-sm-6 lead">
				<table class="menu-icon"><tr><td><i class="fa fa-paint-brush fa-2x" aria-hidden="true"></i></td><td>Artworks</td></tr></table>
			</div>
			<div class="col-sm-3">
					<span class="fa-stack fa-lg fa-2x fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-eye fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
			<div class="col-sm-3">
					<span class="fa-stack fa-lg fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 lead onclickStyle" onclick="location.href='/items'">
				<table class="menu-icon"><tr><td><i class="fa fa-key fa-2x fa-flip-horizontal" aria-hidden="true"></i></td><td>Items</td></tr></table>
			</div>
			<div class="col-sm-3 onclickStyle" onclick="location.href='/items'">
					<span class="fa-stack fa-lg fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-eye fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
			<div class="col-sm-3" >
					<span class="fa-stack fa-lg fa-2x fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 lead">
				<table class="menu-icon"><tr><td><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></td><td>Events</td></tr></table>
			</div>
			<div class="col-sm-3">
					<span class="fa-stack fa-lg fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-eye fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
			<div class="col-sm-3">
					<span class="fa-stack fa-lg fa-2x">
					  <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
					  <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
					</span>
			</div>
		</div>
    <div class="row">
      <div class="col-sm-6 lead onclickStyle" onclick="location.href='/contacts/'">
				<table class="menu-icon"><tr><td><i class="fa fa-address-card-o fa-2x" aria-hidden="true"></i></td><td>Contacts</td></tr></table>
			</div>
      <div class="col-sm-3 onclickStyle" onclick="location.href='/contacts/'">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
            <i class="fa fa-eye fa-stack-1x" style="color:#BFDCF5"></i>
          </span>
      </div>
      <div class="col-sm-3 onclickStyle" onclick="location.href='/contacts/add'">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
            <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
          </span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 lead">
				<table class="menu-icon"><tr><td><i class="fa fa-tachometer fa-2x" aria-hidden="true"></i></td><td>Reports</td></tr></table>
			</div>
      <div class="col-sm-3">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
            <i class="fa fa-eye fa-stack-1x" style="color:#BFDCF5"></i>
          </span>
      </div>
      <div class="col-sm-3">
          <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x" style="color:#0275D8; "></i>
            <i class="fa fa-plus fa-stack-1x" style="color:#BFDCF5"></i>
          </span>
      </div>
    </div>
</div>

<% include bodyEndAndScripts%>
