<!-- Navigation bar start -->
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/"><b>MxM</b></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-paint-brush fa" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;Artworks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/items"><i class="fa fa-key fa fa-flip-horizontal" aria-hidden="true"></i>
          &nbsp;&nbsp;&nbsp;Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-calendar fa" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts/"><i class="fa fa-address-card-o fa" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-tachometer fa" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;Reports</a>
        </li>

        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs fa" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;Parameters</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/categories">Categories</a>
            <a class="dropdown-item" href="/about">About</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navigation bar end -->
