body {
  margin-top: 72px;
}
h2{
  font-weight: bold;
  color: #444444;
  margin-bottom: 20px
}

.onclickStyle{
  cursor: pointer;
}

/* Styles (so that we can see the grid) */
.gridContainer .col-sm-1,
.gridContainer .col-sm-2,
.gridContainer .col-sm-3,
.gridContainer .col-sm-4,
.gridContainer .col-sm-5,
.gridContainer .col-sm-6,
.gridContainer .col-sm-7,
.gridContainer .col-sm-8,
.gridContainer .col-sm-9,
.gridContainer .col-sm-10,
.gridContainer .col-sm-11,
.gridContainer .col-sm-12
{
  border: 2px solid white;
  background: #f5f5f5;
  padding: 10px;
}

.gridContainer table.menu-icon {
  margin: 0px auto;
  height: 64px;
}

.gridContainer table.menu-icon td:nth-child(1) {
  width: 60px;
}

.gridContainer table.menu-icon td:nth-child(2) {
  width: 120px;
  text-align: left;
}

.bigTitle
 {
  line-height: 64px;
  font-weight: bold;
  font-size: 20px;
}

.mediumTitle
{
  line-height: 64px;
  font-weight: bold;
  font-size: 15px;
}

.blue{
  color: #0275D8;
}

.gray{
  color: #777777;
}

.textCenter {
  text-align: center;
}

.noBgColor{
  background-color: #ffffff !important;
}
